.skip {
    position: absolute;
    left: -100px;
    top: -100px
    padding: 2em;
    background-color: yellow;
    color: black;
    opacity: 0;
    font-family: Lora, Georgia, serif;
    text-decoration: none;
}

.skip:focus {
    left: 10%;
    transform: translateX(-50%);
    opacity: 10;
}

main div {
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}

h1 {
    margin: 25px;
    padding: 5px;
    font-size: 35px;
    font-weight: bolder;
    font-family: Lora, Georgia, serif;
    text-transform: uppercase;
    text-align: center;
    color: #A9942C;
    animation-name: text_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes text_animation {
    from {transform: skewX(0deg);}
    to {transform: skewX(180deg);}
}

@media screen and (prefers-reduced-motion: reduce) {
    h1{
        animation: none;
    }
}

h2 {
    margin-bottom: 15px;
    padding: 5px;
    font-size: 28px;
    font-family: Lora, Georgia, serif;
    text-align: center;
}

h3 {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: Lora, Georgia, serif;
    text-align: center;
}

p {
    margin: 10px;
    padding: 8px;
    line-height: 1.2;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: left;
}

img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 50%;
}

div:nth-of-type(even) img {
    border-style: dotted;
    border-color: #de0000;
    border-width: 2px;
}

img:hover {
    background-color: #F4BBA8;
}

nav ul li {
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    font-family: Lora, Georgia, serif;
    background-color: black;
    text-align: center;
}

nav a {
    color: grey;
    text-decoration: none;
    padding: 20px;
}

.active a {
    color: pink;
}

main div ul li {
    margin: 2px;
    padding: 8px;
    text-align: center;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 100%;
    list-style-image: url("../images/book-stack.png");
    list-style-position: inside;
}

footer p {
    margin-left: 20px;
    padding: 2px;
    color: white;
}

.fa-solid {
    margin: 5px;
    padding: 2px;
    color:  #ACBDBD;
    font-size: 25px;
}

.hero_image {
    background-color:  #ACBDBD;
    background-image: url("../images/womens-march.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #de0000;
    padding: 200px;
}

.nav_container {
    display: flex;
    flex-direction: column;
    background-color: black;
}

@media only screen and (min-width: 560px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }

    .femdict_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .history_grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav_container {
        flex-direction: row;
        background-color: black;
    }
}

.preface p {
    text-align: center;
}

h2, h3 {
    background-color: #F4BBA8;
    border-radius: 10px;
}

main div {
    background-color: #ACBDBD;
}

@media only screen and (min-width: 1000px) {
    .nav_container{
        flex-direction: row;
        justify-content: space-around;
        background-color: black;
    }

    .femdict_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .preface {
        grid-column: 1/3;
        font-size: larger;
    }

    .history_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item_one {
        grid-column: 1/3;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 105s;
}

.spinner_hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner::after {
    content: "";
    width: 100px;
    height: 100px;
    border: 15px solid rgb(255, 255, 255);
    border-top-color: #65EBDB;
    border-bottom-color: #EBC408;
    border-left-color: #EBA788;
    border-radius: 50%;
    animation-name: progress_bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes progress_bar {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

footer {
    background-color: black;
    padding: 10px;
}

dt {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: Lora, Georgia, serif;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

dd {
    margin: 5px;
    padding-top: 5px;
    font-size: 18px;
    font-family: Lora, Georgia, serif;
    font-weight: bolder;
}

div.card {
    opacity: 80%;
    background-color: white;
}

.agency {
    background-image: url("../images/agency.jpg");
    background-size: cover;
    background-position: center;
}

.binary {
    background-image: url("../images/binary.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.equality {
    background-image: url("../images/equality.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.equity {
    background-image: url("../images/equity.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.feminism {
    background-image: url("../images/feminism.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    opacity: 95%;
}

.gender{
    background-image: url("../images/gender.jpg");
    background-size: cover;
    background-position: top left;
    color: black;
}

.hegemony {
    background-image: url("../images/hegemony.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.heteronormativity {
    background-image: url("../images/heteronormativity.jpg");
    background-size: cover;
    background-position: top left;
    color: black;
}

.intersectionality {
    background-image: url("../images/intersectionality.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.oppression {
    background-image: url("../images/oppression.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.patriarchy {
    background-image: url("../images/patriarchy.jpg");
    background-size: cover;
    background-position: center;
    color: black;
}

.sexism {
    background-image: url("../images/sexism.jpg");
    background-size: cover;
    background-position: top center;
    color: black;
}