.skip {
    position: absolute;
    left: -100px;
    top: -100px
    padding: 2em;
    background-color: yellow;
    color: black;
    opacity: 0;
    font-family: Lora, Georgia, serif;
    text-decoration: none;
}

.skip:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 10;
}

main div {
    border-width: 2px;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

main div:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
}

h1 {
    border-width: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 35px;
    font-weight: bold;
    font-family: Lora, Georgia, serif;
    text-align: center;
    color: red;
    animation-name: text_animation;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
}

@keyframes text_animation {
    from {transform: skewX(0deg);}
    to {transform: skewX(180deg);}
}

@media screen and (prefers-reduced-motion: reduce) {
    h1{
        animation: none;
    }
}

h2 {
    border-width: 5px;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 28px;
    font-family: Lora, Georgia, serif;
    text-align: center;
}

h3 {
    border-width: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: Lora, Georgia, serif;
    text-align: center;
}

p {
    border-width: 5px;
    margin: 10px;
    padding: 8px;
    line-height: 1.2;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: left;
}

img {
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
    border-width: 2px;
    border-radius: 50%;
    border-style: dotted;
    border-color: #de0000;
}

nav ul li {
    margin: 10px;
    padding: 5px;
    border-width: 10px;
    border-radius: 25px;
    font-size: 25px;
    font-family: Lora, Georgia, serif;
    background-color: black;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.active a {
    color: #fdb515;
}

main div ul li {
    margin: 2px;
    padding: 8px;
    border-width: 2px;
    text-align: center;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 100%;
    list-style-type: disc;
    list-style-position: inside;
}

dt {
    border-width: 2px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: Lora, Georgia, serif;
}

dd {
    border-width: 2px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    font-family: Lora, Georgia, serif;
}

footer p {
    border-width: 2px;
    margin-left: 20px;
    padding: 2px;
}

.fa-solid {
    border-width: 2px;
    margin: 5px;
    padding: 2px;
    color:  #ACBDBD;
    font-size: 25px;
}

.hero_image {
    background-color:  #ACBDBD;
    background-image: url("../images/women_march_pano.jpg");
    background-size: cover;
    color: #de0000;
    padding-top: 50px;
    padding-bottom: 200px;
}

.hero_image h1{
    background-color: white;
    border-radius: 15px;
    width: 50%;
}

@media only screen and (min-width: 560px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .preface{
        grid-column: 1/3;
    }
    .nav_container{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
}

.preface p {
    text-align: center;
}

h2, h3, dt {
    background-color: #F4BBA8;
    border-radius: 10px;
}

main div {
    background-color: #ACBDBD;
}

@media only screen and (min-width: 1000px) {
    .nav_container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

